@import '../../scss/utils/';

.card {
  border-radius: 1rem;
  color: $secondary-color;
  background-color: $bg-color;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    background-color: $hover-color;
    transition: 0.3s ease-in-out;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      text-transform: uppercase;
    }
  }

  img {
    max-width: 60px;
    height: auto;
  }
}
