@import '../utils/';

#root {
  width: 100%;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: $primary-font;
  background: linear-gradient(180deg, $primary-color 5%, $secondary-color 15%);
  color: $secondary-color;

  @include desktop {
    background: linear-gradient(
      180deg,
      $primary-color 5%,
      $secondary-color 25%
    );
  }
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}
